#entity-lister-example-filter .form-item {
  display: inline;
  float: left;
  height: 24px;
  padding: 0;
  margin: 0;
}
#entity-lister-example-filter {
  padding: 8px;
}
#entity-lister-example-filter #edit-submit {
  margin: 0 6px 0 8px;
}